.btn-default {
  width: fit-content;
  min-width: 40px;
  max-width: fit-content;
  height: 30px;
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  border: none;
  background-color: #ccc;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-default.toggled {
  background-color: #aaa;
}

.btn-default:hover:not(:disabled) {
  background-color: #ddd;
}

.btn-default:active:not(:disabled) {
  background-color: #aaa;
}

.btn-default:disabled {
  opacity: .4;
}

.btn-default img {
  height: 20px;
  width: 20px;
  margin-right: 3px;
}
