.accordian-section-root {
  width: 100%;
  background-color: #555;
  color: #fff;
  transition: all .3s;
}

.accordian-section-root.open {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.accordian-section-header {
  width: 100%;
  height: 49px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  background-color: #333;
  color: #fff;
  border-top: 1px solid #000;
}

.accordian-section-header.active {
  background-color: #666;
  box-shadow: inset 3px 0 0 #0094d9
}

.accordian-section-header:hover {
  background-color: #555;
}

.accordian-section-header:active {
  background-color: #ddd;
}

.accordian-section-icon {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.accordian-section-label {
  padding-left: 15px;
}

.accordian-section-body {
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #ddd;
  color: #000;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  transition: all .3s;
}
