.accordian-section-root {
  width: calc(100% - 3px);
  background-color: #555;
  color: #fff;
  transition: all .3s;
  border-left: 3px solid #333;
}

.accordian-section-root.active {
  border-left: 3px solid #0094d9;
}

.accordian-section-root.open {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.accordian-section-header {
  width: 100%;
  height: 49px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  background-color: #333;
  color: #fff;
  border-top: 1px solid #000;
}

.accordian-section-header.active {
  background-color: #666;
}

.accordian-section-icon {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.accordian-section-label {
  padding-left: 15px;
}

.accordian-section-body {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  color: #000;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  transition: all .3s;
}
