.card-root {
  position: relative;
  width: auto;
  height: auto;
  margin: 5px;
  overflow: auto;
}


.card-header {
  width: 100%;
  height: 30px;
  background-color: #ddd;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  font-size: 1.2em;
  text-align: left;
  align-self: center;
  padding: 0 10px;
}

.header-actions {
  width: auto;
  height: 30px;
  max-width: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-btn {
  width: 30px;
  height: 30px;
  margin: 0px;
  border: none;
  background: none;
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  transition: all .3s;
}

.card-btn img {
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  padding: 5px;
}

.card-btn.open-btn img {
  transform: rotate(0deg);
}

.card-btn.close-btn img {
  transform: rotate(180deg);
}

.card-body {
  width: 100%;
  height: auto;
  background-color: #eee;
  box-sizing: border-box;
  padding: 10px;
  transition: all .3s;
}

.card-footer {
  height: auto;
  width: 100%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  padding: 0 10px;
}

.footer-actions {
  padding: 0 10px;
}

.settings-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.settings-content-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.settings-content-row label {
  min-width: 100px;
  text-align: right;
}