.nav-root {
  background-color: #222;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: auto;
  color: #fff;
  transition: min-width .3s;
}

.open {
  min-width: 300px;
}

.closed {
  min-width: 50px;
}

.nav-close-btn {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: transparent;
  border: 0px;
  outline: none;
  color: #fff;
}