.carousel-root {
  width: 100%;
  height: auto;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
  overflow-y: none;
}

.carousel-items {
  height: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-padding: 0 50%;
  scroll-snap-type: x mandatory;
}