.data-table-root {
  width: 100%;
  height: fit-content;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.table-header {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.table-header span {
  font-size: 1.5em;
  font-weight: 300;
}

.search-box {
  display: inline-flex;
  min-height: 30px;
  align-items: center;
  align-self: flex-end;
}

.search-btn {
  width: 24px;
  height: 24px;
  padding: 1px;
  margin-left: -5px;
  margin-right: 4px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.search-btn img {
  width: 14px;
  height: 14px;
  padding: 4px;
  border-radius: 0%;
  pointer-events: none;
}

.search-btn:hover:not(:disabled) {
  background-color: #eee;
}

.search-btn:hover:not(:disabled) svg:hover {
  fill: #0094d9;
}

.search-btn:active:not(:disabled) {
  background-color: #fefefe;
}

.search-btn:disabled {
  background-color: #a1a1a1;
  cursor: not-allowed;
}

.table-sort-btn {
  position: relative;
  height: 24px;
  width: 24px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 4px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.table-sort-btn img {
  width: 100%;
  height: 100%;
  min-height: 100%;
  border-radius: 50%;
  pointer-events: none;
}

.table-sort-btn img.up {
  margin-bottom: -5px;
}

.table-sort-btn img.down {
  margin-top: -5px;
}

.table-sort-btn:hover:not(:disabled) {
  background-color: #eee;
}

.table-sort-btn:active:not(:disabled) {
  background-color: #fefefe;
}

.table-sort-btn:disabled {
  background-color: #a1a1a1;
  cursor: not-allowed;
}

.search-results {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow: none;
}

.search-results table {
  width: 100%;
}

a.search-table-area {
  height: 50px;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #222;
  text-decoration: none;
}

a.search-table-area div {
  margin-left: 20px;
}

a.search-table-area:hover {
  background-color: #eee;
  box-shadow: inset 5px 0 0 #0094d9
}

a.search-table-area:active {
  background-color: #fefefe;
}

.table-footer {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table-actions {
  height: 100%;
  width: auto;
  padding: 0 5px;
}

.table-action-button {
  width: auto;
  min-width: 60px;
  height: 25px;
  box-sizing: border-box;
  margin: 5px;
  border: none;
  background-color: #ddd;
  outline: none;
}

.table-action-button:hover {
  background-color: #d7d7d7;
}

.table-action-button:active {
  background-color: #fefefe;
}

.search-pagination {
  width: auto;
  height: 30px;
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.search-page-prev, .search-page-next {
  height: 20px;
  width: 20px;
  padding: 1px;
  margin: 0px 5px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.search-page-prev img, .search-page-next img {
  width: 12px;
  height: 12px;
  padding: 3px;
  border-radius: 50%;
  pointer-events: none;
}

.search-page-prev:hover:not(:disabled), .search-page-next:hover:not(:disabled) {
  background-color: #eee;
}

.search-page-prev:active:not(:disabled), .search-page-next:active:not(:disabled) {
  background-color: #fefefe;
}

.search-page-prev:disabled, .search-page-next:disabled {
  background-color: #a1a1a1;
  cursor: not-allowed;
}

.search-page-total {
  padding-left: 8px;
}

.search-page-table-label {
  padding-right: 6px;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  opacity: .8;
}

.loading-message {
  width: 150px;
  height: 150px;
}

.loading-message img {
  width: 100%;
  height: 100%;
}

.table-row-default {
  vertical-align: top;
  width: 100%;
}

.table-row-default:hover {
  background-color: #ddd;
}

.table-header-default {
  width: auto;
  height: 24px;
  max-height: 24px;
  line-height: 24px;
  min-width: 80px;
  border: none;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  padding: 0;
}

.table-column-default {
  width: auto;
  min-width: 80px;
  max-width: 70%;
  text-align: left;
  word-wrap: normal;
  box-sizing: border-box;
  padding: 5px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-mark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 16px;
  width: 16px;
  background-color: #ddd;
}

th.table-select-all .check-mark {
  top: 0px;
}

.checkbox-container:hover input ~ .check-mark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .check-mark {
  background-color: #0094d9;
}

.checkbox-container input:indeterminate ~ .check-mark {
  background-color: #0094d9;
}

.check-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .check-mark:after {
  display: block;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-container input:indeterminate ~ .check-mark:after {
  display: block;
  left: 4px;
  top: 7px;
  width: 8px;
  height: 0px;
  border: solid white;
  border-width: 0 0px 2px 0;
}
