.select-input-root {
  position: relative;
  height: 24px;
  width: auto;
  padding: 0px;
  margin: 0px;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.select-input-root.active {
  height: auto;
}

.select-input-root:hover:not(:disabled) {
  background-color: #eee;
}

.select-input-root:active:not(:disabled) {
  background-color: #fefefe;
}

.select-input-root:disabled, .select-input-root.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #a1a1a1;
}

.select-input-area, .select-input-area.down {
  width: 100%;
  height: 100%;
  min-height: 24px;
  box-sizing: border-box;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid #555;
  background-color: #ddd;
}

.select-input-area.active {
  background-color: #eee;
}

.select-input-area:hover:not(:disabled) {
  background-color: #eee;
}

.select-input-area:active:not(:disabled) {
  background-color: #fefefe;
}

.select-input-area:disabled, .select-input-area.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #a1a1a1;
}

.select-options-area {
  width: auto;
  min-width: 24px;
  height: auto;
  min-height: 24px;
  position: fixed;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 5px 2px rgba(34,34,34,0.5);
}

.select-options-area.up {
  position: absolute;
  width: 100%;
  bottom: 24px;
  box-shadow: 0px -1px 5px 2px rgba(34,34,34,0.5);
}

.select-options-area:disabled, .select-options-area.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #a1a1a1;
}

.option-item {
  width: auto;
  min-width: 24px;
  height: 18px;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  margin: 0px;
  padding: 0px;
  outline: none;
}

.option-item.up {
  width: 100%;
}

.option-item:hover:not(:disabled) {
  background-color: #eee;
}

.option-item:active:not(:disabled) {
  background-color: #fefefe;
}

.option-item:disabled, .option-item.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #a1a1a1;
}
