.tool-tip-root {
  width: auto;
  height: auto;
  position: relative;
}

.tool-tip-area {
  width: auto;
  height: auto;
  position: absolute;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.tool-tip-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  z-index: 99999;
}

.tool-tip-banner {
  width: auto;
  max-width: 100px;
  height: auto;
  z-index: 99999;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
}

.tool-tip-message {
  font-size: .8em;
}