.App {
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  right: 0px;
  transition: width .3s;
}

.App.standard {
  width: calc(100vw - 250px);
}

.App.expanded {
  width: calc(100vw - 50px);
}

.App-header {
  position: relative;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  height: 120px;
}

.App-body {
  width: 100%;
  height: calc(100% - 120px);
}

.App-title {
  font-size: 1.5em;
}

.infiniteRow {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-error {
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  position: absolute;
  bottom: 5px;
  font-size: .5em;
  font-style: italic;
}
